body {
    font-family: fantasy;
    background-image: url("../images/background.jpg");
    background-repeat: repeat;
}

h1 {
    color: beige;
    background-color: green;
    padding: 20px;
}

.clearfix {
    margin: 0 auto;
    overflow: auto;
}

.jumbotron {
    background-image: url("../images/naturalwhite.png");
}

.jumbotron h1 {
    color: cadetblue;
    font-size: 62px;
}

#main {
    background-color: cadetblue;
    height: 200px;
    padding: 10px;
    margin: 0 auto;
}

#pick-char {
    font-size: 12px;
    color: beige;
}

.selectionArea {
    margin: 0 auto;
    padding: 10px;
    overflow: auto;
}

.clearfix {
    overflow: auto;
}

.gardenerImg {
    background-image: url("/assets/images/gardener.jpg");
}

.tomatoImg {
    background-image: url("/assets/images/tomato.jpg");
}

.droughtImg {
    background-image: url("/assets/images/drought.jpg");
}

.cloudsImg {
    background-image: url("/assets/images/clouds.jpeg");
}

.characters {
    width: 200px;
    height: 200px;
    border-style: solid;
    padding: 2px;
    float: left;
    margin: 2px;
}

.character-name {
    color: aqua;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.character-button {
    border: cornflowerblue solid 5px;
}