body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url("../images/background.jpg");
    background-repeat: repeat;
}

h1 {
    color: beige;
    background-color: rgba(95, 157, 159, 0.9);
    padding: 30px;
    font-family: fantasy;
    font-size: 50px;
}

.clearfix {
    margin: 0 auto;
    overflow: auto;
}

.jumbotron h1 {
    color: cadetblue;
    font-size: 62px;
}

#main {
    background-color: cadetblue;
    height: auto;
    padding: 10px;
    margin: 0 auto;
}

#pick-char {
    font-size: 12px;
    color: beige;
}

.selectionArea {
    width: 100%;
    height: auto;
    padding: 10px;
    clear: left;
    background-color: rgba(95, 157, 159);
    overflow: auto;
}

.clearfix {
    overflow: auto;
}

.gardenerImg {
    background-image: url("../images/gardener.jpg");
    background-repeat: no-repeat;
    background-size: 400px;
}

.tomatoImg {
    background-image: url("../images/tomato.jpg");
    background-repeat: no-repeat;
    background-size: 300px;
    padding: 20px;
    float: right;
}

.droughtImg {
    background-image: url("../images/drought.jpg");
    background-repeat: no-repeat;
    background-size: 300px;
}

.cloudsImg {
    background-image: url("../images/clouds.jpeg");
    background-repeat: no-repeat;
    background-size: 270px;
}

.characters {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    text-align: center;
    color: beige;
    font-size: 30px;
    width: 150px;
    height: 150px;
    padding: 45px;
}

.character-name {
    color: aqua;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.character-button {
    border: cornflowerblue solid 5px;
}